* {
	color: #042825;
	font-family: "Roboto", sans-serif;
	font-weight: 350;
	font-style: normal;
	margin-bottom: 1rem;
}

body, html {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
}

main {
    margin:    0 auto;
    width: 90%;
    min-height: 65vh;
}

#main-intro {
	margin-top: 3.5rem;
	font-size: 3rem;
	font-weight: 600;
	font-style: bold;
}

h2 {
	margin-top: 5rem;
	font-weight: 500;
	font-style: bold;
}

header {
	border-bottom: solid;
	border-color: #829492;
	margin-top: 1rem;
}

header a {
	text-decoration: none;
	padding: 5px 10px;
	font-family: "Roboto", sans-serif;
	font-weight: 800;
	font-style: bold;
	margin-bottom: 0;
}

a:hover {
	color: #627977;
	text-decoration: underline;
}

#top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin:    0 auto;
    max-width: 90%;
}

#logo {
	display: flex;
	justify-content: flex-start;
	font-size: 1rem;
}

#logo a:hover {
	text-decoration: none;
}

#header-menu {
	display: flex;
	justify-content: space-between;
}

.info-box {
	border-left: solid;
	border-color: #234340;
	background-color: #E0E4E4;
	padding: 0.5rem 1rem 2rem 1rem;
}

#contacts {
	display: flex;
	flex-direction: column;
}

#contacts img {
	position: relative;
	top: 27px;
	right: 5px;
	Margin-left: 2rem;
}

footer {
	width: 100%;
	min-height: 3rem;
	background-color: #042825;
	margin: 3rem 0 0 0;
}

#footer-content {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	padding: 1rem;
	margin: 0;
}

#footer-content * {
	color: white;
	font-weight: 600;
	font-style: bold;
	font-size: .75rem;
	margin: 2px 0 1rem 0;
}

#waving-hand {
	height: 2.5rem;
	width: 2.5rem;
	position: relative;
    top: 20px;
	left: 3px;
    animation-name: hand-wave;
    animation-duration: 1s;
	animation-delay: 0.5s;
}

@keyframes hand-wave {
	0%   {transform: rotate(0deg);}
	17%   {transform: rotate(20deg);}
	50%   {transform: rotate(-20deg);}
	83%   {transform: rotate(20deg);}
	100%   {transform: rotate(0deg);}
}

footer img {
	height: 1.5rem;
	width: 1.5rem;
	position: relative;
	top: 23px;
	right: 5px;
}

#contact-header-box {
	border: solid;
	margin-left:1rem;
}

#project-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.project-box {
	position: relative;
	text-align: center;
	color: white;
}

.project-box img {
	width: 20rem;
	height: 20rem;
	padding: 1rem;
	opacity: 100%;
}

.project-box:hover img {
	opacity: 20%;
	transition: 0.3s;
}

.project-box h2 {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.project-box:hover h2 {
	opacity: 100%;
	transition: 0.3s;
}

.project-box p {
	position: absolute;
	top: 40%;
	left: 10%;
	right: 10%;
	opacity: 0%;
	transition: 0.3s;
}

.project-box:hover p {
	opacity: 100%;
}

#back-arrow {
	height: 1rem;
	width: auto:
	display: inline;
	margin-bottom:0;
}

#repo-link {
	margin-bottom: 3rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#image-display {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#main-image {
	width: 50%;
	height:auto;
	margin: 2rem auto 0;
}

.selectable:hover {
	filter: brightness(50%);
	cursor: pointer;
}

#image-bar {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#image-bar img {
	height: 4rem;
	width: auto;
	margin: 1rem;
}

#modal-image {
	width: 100%;
	height: auto;
}