<footer>
  <div id="footer-content">
  	<p>
	  <img src="/static/phone-32.png" alt="phone logo">
	  (801) 309-9244
	</p>
	<a href="mailto: JonathanBancroft29@gmail.com">
	  <img src="/static/gmail-32.png" alt="gmail logo">
	  Email
	</a>
	<a href=https://github.com/JonBancroft>
	  <img src="/static/github-32.png" alt="github logo">
	  Github
	</a>
	<a href="https://www.linkedin.com/in/jonathan-bancroft-963b672b5/">
	  <img src="/static/linkedIn-32.png" alt="linkedIn logo">
	  LinkedIn
	</a>
  </div>
</footer>
</body>
</html>