{% include "header.html" %}
<main>
	<h1 id="main-intro">Hi, I'm Jon <img src="static/waving_hand.png" alt="Waving hand" id="waving-hand"></h1>

	<p>I'm a student of computer science at the University of Utah, with an emphasis on web software developement.</p>
	<h2>Check out my projects</h2>
	{% for project in projects %}
		<div class="project-card">
			<h3><a href="/projects/{{ project.id }}">{{ project.name }}</a></h3>
			<p>{{ project.description }}</p>
		</div>
	{% endfor %}
	<p><a href="/projects">See More</a></p>
</main>
{% include "footer.html" %}