{% include "header.html" %}
<main>
  <h1 id="main-intro">Hi, I'm Jon <img src="static/waving_hand.png" alt="Waving hand" id="waving-hand"></h1>

  <p>I'm a student of computer science at the University of Utah, with an emphasis on web software developement. Some of my interests include exploration games, sci-fi books, and jazz music.</p>
  <h2>Check out my projects</h2>
  <div class="project-card">
	<h3><a href="/projects/1">Project 1</a></h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="project-card">
	<h3><a href="/projects/2">Project 2</a></h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="project-card">
	<h3><a href="/projects/3">Project 3</a></h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <p><a href="/projects">See More</a></p>
</main>
{% include "footer.html" %}